{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}
<meta property="og:title" content="HfcQGIS - Help funzioni calcolatore di campi di QGIS" />
<meta property="og:description" content="Questa guida nasce per rispondere alle numerose richieste di aiuto sull’uso del calcolatore di campi e per colmare un vuoto sulla guida online di QGIS con esempi e molti screenshot." />
<meta property="og:url" content="http://hfcqgis-test.rtfd.io/" />
<meta property="article:author" content="Salvatore Fiandaca" />
<meta property="og:image" content="https://raw.githubusercontent.com/pigreco/HfcQGIS/master/img/logo_def_128.png" />
<meta property="og:site_name" content="hfcqgis.opendatasicilia.it" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="HfcQGIS - Help funzioni calcolatore di campi di QGIS">
<meta name="twitter:description" content="Questa guida nasce per rispondere alle numerose richieste di aiuto sull’uso del calcolatore di campi e per colmare un vuoto sulla guida online di QGIS con esempi e molti screenshot.">
<meta name="twitter:image" content="https://raw.githubusercontent.com/pigreco/HfcQGIS/master/img/logo_def_128.png">
<meta name="twitter:creator" content="Salvatore Fiandaca">
<meta name="twitter:site" content="hfcqgis.opendatasicilia.it" />
<meta name="twitter:url" content="http://hfcqgis-test.rtfd.io/">
{% endblock %}
