/* override css */

span.pre {
 overflow-x: auto;  
}

code {
white-space: normal !important;
border: 0px !important;
background-color: rgba(27,31,35,0.05) !important;
}

@media screen and (min-width: 640px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* testo caption menu sx */
.wy-nav-side {color: #589632;}

