/* override css */

span.pre {
 overflow-x: auto;  
}

code {
white-space: normal !important;
border: 0px !important;
background-color: rgba(27,31,35,0.05) !important;
}

@media screen and (min-width: 640px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

p {text-align: justify;}


/* testo caption menu sx */
.wy-nav-side {color: #589632;}

/* disattiva testo latest  menu sx */
.wy-side-nav-search>div.version {    display: none;}

/* disattiva testo Home  menu sx */
.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
       font-size: 0; }

/* disattiva background logo latest  menu sx */
.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover {
    background: rgba(255,255,255,0);
}

